@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

h1 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
}
ul {
  width: 200px;
  list-style-type: none;
}
li {
  border-bottom: 1px solid #ccc;
  background: DarkSeaGreen;
}
li:nth-child(even) {
  background: white;
}
li:last-child {
  border: none;
}


